<section class="nav-bar-section-logo">
  <LinkTo @route="index">{{icons/logo}}</LinkTo>
</section>
<section class="nav-bar-section">
  <li>
    <LinkTo @route="highlight">Try it out</LinkTo>
  </li>
  <li>
    <LinkTo @route="setup">Chrome extension</LinkTo>
  </li>
  <li>
    <LinkTo @route="developers">Developers</LinkTo>
  </li>
</section>