@import "ember-paper";

@import "draggable";

@import "components/calendar-column";
@import "components/login-form";
@import "components/nav-bar";
@import "components/performance-dashboard";
@import "components/summary-results";

@import "routes/dashboard";
@import "routes/highlight";

/* Works in all browsers, does not effect other views within your application */
body > .ember-view {
  height: 100%;
}

.main {
  height: 92%;
  display: flex;
  justify-content: center;
  align-items: center;
}