.performance-dashboard {
  display: flex;
  flex-direction: column;

  &__row {
    width: 100%;
    height: 400px;
    display: flex;
  }

  &__description {
    flex: 0 40%;
    padding: 8px;
  }

  &__chart {
    flex: 0 60%;
    padding: 8px;
  }
}