.login-form {
  width: 400px;
  background-color: white;
  padding: 32px;
  border-radius: 8px;

  &__submit {
    padding: 16px 0;
    font-weight: 500;
    font-size: 24px;
    margin: 18px 0;
  }

  &__footer {
    padding-top: 16px;
  }
}