.nav-bar {
  height: 8%;
  display: flex;
  border-bottom: 0.3px solid lightslategray;
}

.nav-bar-section {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  padding: 8px 16px;
  
  a {
    padding: 12px 0;
    margin: 0 12px;
    text-decoration: none;
    color: #3e4328;
    font-weight: 500;
    transition: 0.5;
  }

  a:hover {
    border-bottom: 4px solid #d0d6dc;
  }
}

.nav-bar-section-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}