<div class="developers">
  <div class="developers__api-explanation">
    <h1>COMING SOON</h1>
    <p>Create an account to receive an API key</p>

    <p>Tiers:</p>

    <p>Free: A limit of 100 free API requests can be made daily, and each request must be at least 10 seconds apart. If a request was made too soon, the API will wait the required time before fulfilling the request.</p>
    <p>Full: An unlimited amount of requests can be made with no artificial time limit in between. 1 credit costs $0.001, or a tenth of a cent. It costs approximately 1 credit per 500 characters returned by the API (only summarized content is counted). It costs an additional 8 credits if the article has not been previously submitted and cached by the algorithm, that way re-summarizing the same article is cheaper. When credit costs are being calculated, decimals are rounded upwards.</p>  
  </div>
</div>