<h2>Examples</h2>
{{demo-link title="Coronavirus 'could cost global economy $1.1tn in lost income'"
            onClick=(action "goToHighlightDemo" "guardian")
            demoIcon='icons/the-guardian-icon'}}
{{demo-link title="On the trail: Former rival Kamala Harris backs Biden"
            onClick=(action "goToHighlightDemo" "reuters")
            demoIcon='icons/reuters-icon'}}
{{demo-link title="The 100 Most Influential Women in U.S. Finance Right Now"
            onClick=(action "goToHighlightDemo" "barrons")
            demoIcon='icons/barrons-icon'}}
